<h1>New admin</h1>

<button><%= link_to "Home", pages_path, class: "btn btn-primary" %></button>

<%= render "form", admin: @admin %>

<br>

<div>
  <%= link_to "Back to admins", admins_path %>
</div>
