<p style="color: green"><%= notice %></p>

<%= render @current %>

<div>
  <%= link_to "Edit Profile", edit_admin_path(@current) %>
  <%= button_to "Delete Profile", @current, method: :delete %>
</div>
