
    <h2>Login to Community</h2>
    <form>
        <input type="text" name="user_name" placeholder="User Name" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    <div class="form-footer">
        <p><%= t('login.forgot_password') %> <a href="#"><%= t('login.click_here') %></a></p>
        <p><%= t('login.dont_have_account') %> <a href="#"><%= t('login.sign_up')%></a></p>
    </div>
</div>
 
 