<h1 style="color: white;Background-color:black;text-align:center; font-family: Arial, sans-serif">Scaffolding for Address, Location and Admin </h1>
<h3 style="text-align:center;color:blue" >Click on the below Links to Create, Delete, Update and View</h3>
<ul style="text-align: center;">
  <li><%= link_to 'Admin', admins_path, style: "background-color: #993366;color: white;padding: 14px 25px;text-align: center;text-decoration: none;display: inline-block; font-weight: bold;  margin:8px" %></li>
  <li><%= link_to 'Address', addresses_path, style: "background-color: #336699;color: white;padding: 14px 25px;text-align: center;text-decoration: none;display: inline-block; font-weight: bold; margin:8px" %></li>
  <li><%= link_to 'Location', locations_path, style: "background-color: #f44336;color: white;padding: 14px 25px;text-align: center;text-decoration: none;display: inline-block; font-weight: bold; margin:8px" %></li>

  </ul>

