<h1>Welcome To Community</h1>


<%= link_to "Login as admin", new_login_path %>
<p style="color: green"><%= notice %></p>
<div style="margin:30px"></div>

<p>If you are new here please sign up to explore community</p>
<%= link_to "Sign up", new_admin_path %>
<div style="margin:30px"></div>
