<%= stylesheet_link_tag 'address_edit'%>

<h1>Editing address</h1>
<div style="border:2px solid; width:500px; padding-left:30px">
<%= render "form", address: @address %>
<div>
<br>

<div>
  <%= link_to "Show this address", @address %> |
  <%= link_to "Back to addresses", addresses_path %>
</div>
