<h1>New address</h1>
<button><%= link_to "Home", pages_path, class: "btn btn-primary" %></button>

<%= render "form", address: @address %>

<br>

<div>
  <%= link_to "Back to addresses", addresses_path %>
</div>
