*{
    /* display:flex; */
    align-items: center;
    justify-content: center;
}
.card{
    border: 2px solid blue;
    width: 400px;
    border-radius: 10px;
    padding-left: 20px;
    margin-top: 20px;
}
.btn{
    text-decoration: none;
}

.btn1{
    margin-top: 30px;
}