<h1>New location</h1>

<button><%= link_to "Home", pages_path, class: "btn btn-primary" %></button>

<%= render "form", location: @location %>

<br>

<div>
  <%= link_to "Back to locations", locations_path %>
</div>
