<div style="displat:flex">
    <div style="margin:20px">
        <button><%= link_to "Home", pages_path, class: "btn btn-primary" %></button>
    </div>
    <div style="margin:20px">
        <button><%= link_to "Profile", profile_path, class: "btn btn-primary" %></button>
    </div>
</div>