<h1>Editing member</h1>

<button><%= link_to "Home", pages_path, class: "btn btn-primary" %></button>

<%= render "form", member: @member %>

<br>

<div>
  <button>
   <%= link_to "Show this member", @member %> 
  </button>
  <button>
   <%= link_to "Back to members", members_path %>
  </button>
</div>
